.wraper_footer {
    background: $main_3;
    position: relative;

    &::before {
        content: "";
        background: $main_3;
        height: 290px;
        position: absolute;
        left: -50px;
        top: -100px;
        right: -50px;
        transform: rotate(4.54deg);
        z-index: -1;

        @media(max-width:900px) {
            display: none;
        }
    }
}

.footer {
    display: grid;
    grid-template-columns: auto auto auto auto 1fr;
    grid-row: auto auto;

    @media(max-width:900px) {
        grid-template-columns: 1fr;
    }

    .register_login {
        grid-column-start: 1;
        grid-column-end: 6;
        margin: 0 auto;

        .login {
            font-weight: $font-weight6;
            background: inherit;
            color: $main_color;
            border: none;
            margin-right: 20px;
            cursor: pointer;
        }

        .register {
            @extend .login;
            padding: 8px 16px;
            border-radius: 4px;
            border: 1px solid $main_color;
            text-transform: uppercase;
            transition: 0.5s;

            &:hover {
                background-color: $main_hover;
                color: $main_1;
            }

            &:active {
                background-color: $main_active;
            }
        }

        p {
            font-size: $typography_1;
            margin-top: 25px;
            font-weight: $font-weight6;

            @media(max-width:900px) {
                display: none;
            }
        }

        @media(max-width:900px) {
            margin-bottom: 20px;
        }
    }

    padding-top: 65px;
    padding-bottom: 25px;

    .table_contents {
        font-weight: $font-weight6;
        margin-bottom: 16px;
    }

    ul {
        li {
            margin-bottom: 16px;
            cursor: pointer;

            &:hover {
                transition: 0.3s;
                color: $main_hover;
            }

            &:active {
                transition: 0.3s;
                color: $main_active;
            }
        }
    }

    .logo {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        img {
            display: block;
            width: 56px;
            height: auto;
        }

        p {
            font-size: 8px;
            font-weight: $font-weight7;
        }

        @media(max-width:900px) {
            display: none
        }
    }

    &>div {
        margin-right: 40px;

        @media(max-width:900px) {
            margin-right: 0px;
        }
    }

    .social_link {
        a {
            margin-right: 25px;
            display: inline-block;

            &:hover {
                svg {
                    transition: 0.7s;
                    transform: scale(1.2);

                    * {
                        fill: $main_hover;
                    }
                }
            }
        }

        margin-bottom:25px;

        @media(max-width:900px) {
            margin-bottom: 10px;
        }
    }

    .footer_tbl_1 {
        @media(max-width:900px) {
            grid-row-start: 3;
            grid-row-end: 4;
            margin: 0 auto;
        }

        &>p {
            font-size: $typography_1;
            line-height: $line-height_1;
            font-weight: $font-weight5;
            max-width: 384px;

            @media(max-width:900px) {
                display: none;
            }
        }
    }

    .footer_tbl_2 {
        h3 {
            @media(max-width:900px) {
                display: none;
            }
        }

        ul {
            @media(max-width:900px) {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
            }

            li {
                margin-right: 20px;
                margin-bottom: 20px;
            }
        }
    }

    .footer_tbl_3 {
        @media(max-width:900px) {
            display: none;
        }
    }

    .footer_tbl_4 {
        @media(max-width:900px) {
            display: none;
        }
    }

    .footer_tbl_5 {
        @media(max-width:900px) {
            display: none;
        }
    }
}