.top_header_wraper {
    background: $main_3;
}

.top_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;

    p {
        font-weight: $font-weight6;
    }

    @media(max-width:900px) {
        display: none;
    }
}

.top_header_left {
    display: flex;

    span {
        width: 1px;
        height: 100%;
        background-color: $main_4;
    }
}

.tel {
    svg {
        display: block;
        margin-right: 10px;
    }

    a {
        font-weight: $font-weight6;
        display: block;
        margin-right: 15px;
        text-decoration: none;
        color: $main_color;

        &:hover {
            transition: 0.5s;
            color: $main_hover;
        }

        &:active {
            transition: 0.5s;
            color: $main_active;
        }
    }

    display: flex;
    align-items: center;
}

.block_person {
    display: flex;
    align-items: center;

    svg {
        margin-left: 15px;
        display: block;
        margin-right: 5px;
    }

    p {
        font-weight: $font-weight6;
    }

    display: flex;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background: $main_1;
    border-radius: 4px;
    position: relative;

    svg {
        display: none;
        position: absolute;
        right: 60px;
        top: 30;

        @media(max-width:1040px) {
            display: block;
        }
    }

    @media(max-width:900px) {
        margin-top: 25px;
    }

    button {
        @include btn;
        position: relative;
        right: -10px;

        @media(max-width:1040px) {
            display: none;
        }
    }

    input {
        display: none;
        width: 100%;
        border: none;

        &::placeholder {
            content: '';
        }

        @media(max-width:1040px) {
            display: block;
        }
    }
}

.navigation_left {
    display: flex;

    &>li {
        list-style-type: none;

        &>a {
            text-decoration: none;
        }
    }

    .logo {
        display: flex;
        align-items: center;
        margin-right: 40px;

        img {
            display: block;
            width: 56px;
            height: auto;
        }

        p {
            font-size: 8px;
            font-weight: $font-weight7;
        }
    }

    nav {
        display: flex;
        align-items: center;
    }

    ul {
        display: flex;

        li {
            margin-right: 40px;
            white-space: nowrap;
            cursor: pointer;
            font-weight: $font-weight6;

            @media(max-width:1320px) {
                margin-right: 20px;
            }

            &:active {
                transition: 0.5s;
                color: $main_active;
            }

            a {
                color: $main_4;
                text-decoration: none;

                &:hover {
                    transition: 0.5s;
                    color: $main_hover;
                }
            }
        }

        @media(max-width:1040px) {
            display: none;
        }
    }
}

.btn_open_modal_menu {
    cursor: pointer;
    background-color: $main_color;
    display: none;
    height: 3px;
    position: relative;
    width: 20px;

    @media(max-width:1040px) {
        display: block;
    }

    &::after {
        content: '';
        position: absolute;
        top: 6px;
        display: block;
        width: 20px;
        height: 3px;
        background-color: $main_color;
    }

    &::before {
        content: '';
        position: absolute;
        top: -6px;
        display: block;
        width: 20px;
        height: 3px;
        background-color: $main_color;
    }
}