// .section_1 {
//     margin-top: 60px;
//     display: flex;
//     justify-content: space-between;
//     gap: 20px;

//     h1 {
//         font-family: 'Montserrat', sans-serif;
//         font-size: $h1;
//         font-weight: $font-weight7;
//         white-space: nowrap;
//         margin-bottom: 40px;

//         span {
//             color: $main_color;
//         }
//     }

//     p {
//         font-family: 'Raleway', sans-serif;
//         font-size: $typography_4;
//         line-height: $line-height_1;
//         max-width: 570px;
//         margin-bottom: 20px;
//     }

//     button {
//         @include btn;
//     }
// }

// .section_1_right {
//     display: flex;
//     align-items: center;
//     position: relative;

//     .img_slide_1 {
//         position: relative;
//         z-index: 2;
//         border-radius: 4px;
//         width: 790px;
//         height: 400px;
//         overflow: hidden;

//         img {
//             width: 100%;
//             object-fit: cover;
//             transition: all 0.5s;

//             &.entering {
//                 opacity: 1;
//             }

//             &.entered {
//                 opacity: 1;
//             }

//             &.exiting {
//                 opacity: 0;
//             }

//             &.exited {
//                 opacity: 0;
//             }
//         }
//     }

//     .img_slide_2 {
//         position: relative;
//         left: -40px;
//         border-radius: 4px;
//         width: 420px;
//         height: 365px;
//         overflow: hidden;
//         display: flex;
//         align-items: center;

//         img {
//             display: block;
//             width: 100%;
//             object-fit: cover;
//             transition: all 0.5s;

//             &.entering {
//                 opacity: 1;
//             }

//             &.entered {
//                 opacity: 1;
//             }

//             &.exiting {
//                 opacity: 0;
//             }

//             &.exited {
//                 opacity: 0;
//             }
//         }
//     }

// }




.section_1 {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: $h1;
        font-weight: $font-weight7;
        white-space: nowrap;
        margin-bottom: 40px;

        span {
            color: $main_color;
        }
    }

    p {
        font-family: 'Raleway', sans-serif;
        font-size: $typography_4;
        line-height: $line-height_1;
        max-width: 570px;
        margin-bottom: 20px;
    }

    button {
        @include btn;
    }
}

.section_1_right {
    display: flex;
    align-items: center;
    position: relative;

    .img_slide_1 {
        position: relative;
        z-index: 2;
        border-radius: 4px;
        width: 790px;
        height: 400px;
        overflow: hidden;
        cursor: pointer;
        transition: all 1s;

        &:active {
            opacity: 0;
        }

        img {
            border-radius: 4px;
            width: 100%;
            object-fit: cover;
            transition: all 1s;

            &.entering {
                opacity: 0;
            }

            &.entered {
                opacity: 1;
            }

            &.exiting {
                opacity: 1;
            }

            &.exited {
                opacity: 1;
            }
        }
    }

    .img_slide_2 {
        position: relative;
        left: -40px;
        border-radius: 4px;
        width: 420px;
        height: 365px;
        overflow: hidden;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: all 1s;

        &:active {
            opacity: 0;
        }

        img {
            border-radius: 4px;
            display: block;
            width: 100%;
            object-fit: cover;
            transition: all 1s;

            &.entering {
                opacity: 0;
            }

            &.entered {
                opacity: 1;
            }

            &.exiting {
                opacity: 1;
            }

            &.exited {
                opacity: 1;
            }
        }
    }

}


.section_2 {
    position: relative;
}

.background_auto {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    background: url(./img/Golf.png) 100% 100%/ 600px auto no-repeat;
    z-index: -1;
}

.wraper_section_2 {
    display: flex;
    padding: 125px 0;

    .section_2_left {
        h2 {
            font-size: $typography_5;
            font-weight: $font-weight7;
            color: $main_color;
            margin-bottom: 45px;
        }

        p {
            font-size: $typography_4;
            max-width: 570px;
            line-height: $line-height_1;
        }
    }

    .section_2_right {
        form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 15px;
            max-width: 725px;
            max-height: 115px;
        }

        select {
            max-width: 355px;
            display: block;
            border-radius: 2px;
            border: 0.8px solid #D9D9D9;
            background: $main_1;
        }

        button {
            max-width: 355px;
            display: block;
            @include btn;
        }
    }
}