.section_1 {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: $h1;
        font-weight: $font-weight7;
        white-space: nowrap;
        margin-bottom: 40px;

        span {
            color: $main_color;
        }

        @media(max-width:1350px) {
            text-align: center;
        }

        @media(max-width:768px) {
            font-size: $h1_mobile;
        }
    }

    p {
        font-family: 'Raleway', sans-serif;
        font-size: $typography_4;
        line-height: $line-height_1;
        max-width: 570px;
        margin-bottom: 20px;

        @media(max-width:1350px) {
            max-width: 100%;
        }

        @media(max-width:768px) {
            font-size: $typography_4_mobile;
        }
    }

    button {
        @include btn;

        @media(max-width:1350px) {
            display: block;
            margin: 0 auto;
        }
    }

    @media(max-width:1350px) {
        flex-direction: column;
        align-items: center;
    }
}

.section_1_right {
    display: flex;
    align-items: center;
    position: relative;

    .img_slide_1 {
        position: relative;
        z-index: 2;
        border-radius: 4px;
        width: 790px;
        height: 400px;
        overflow: hidden;
        cursor: pointer;
        transition: all 1s;

        @media(max-width:840px) {
            width: 100%;
            height: auto;
        }

        &:active {
            opacity: 0;
        }

        img {
            border-radius: 4px;
            width: 100%;
            object-fit: cover;
            transition: all 1s;

            &.entering {
                opacity: 0;
            }

            &.entered {
                opacity: 1;
            }

            &.exiting {
                opacity: 1;
            }

            &.exited {
                opacity: 1;
            }
        }
    }

    .img_slide_2 {
        position: relative;
        left: -40px;
        border-radius: 4px;
        width: 420px;
        height: 365px;
        overflow: hidden;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: all 1s;

        &:active {
            opacity: 0;
        }

        img {
            border-radius: 4px;
            display: block;
            width: 100%;
            object-fit: cover;
            transition: all 1s;

            &.entering {
                opacity: 0;
            }

            &.entered {
                opacity: 1;
            }

            &.exiting {
                opacity: 1;
            }

            &.exited {
                opacity: 1;
            }
        }

        @media(max-width:1700px) {
            display: none;
        }
    }
}


.section_2 {
    position: relative;
}

.background_auto {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    background: url(./img/Golf.png) 100% 100%/ 600px auto no-repeat;
    z-index: -1;

    @media(max-width:768px) {
        background: url(./img/Golf.png) 100% 100%/ 400px auto no-repeat;
    }

    @media(max-width:640px) {
        background: none;
    }
}

.wraper_section_2 {
    display: flex;
    padding-top: 125px;
    padding-bottom: 125px;

    .section_2_left {
        h2 {
            font-size: $typography_5;
            font-weight: $font-weight7;
            color: $main_color;
            margin-bottom: 45px;

            @media(max-width:768px) {
                font-size: $typography_5_mobile;
                margin-bottom: 20px;
            }

            @media(max-width:640px) {
                text-align: center;
            }
        }

        p {
            font-size: $typography_4;
            max-width: 570px;
            line-height: $line-height_1;

            @media(max-width:768px) {
                font-size: $typography_4_mobile;
                margin-bottom: 20px;
            }

            @media(max-width:640px) {
                text-align: center;
            }
        }
    }

    .section_2_right {
        form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 15px;
            max-width: 725px;
            max-height: 115px;

            @media(max-width:980px) {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
            }
        }

        select {
            padding: 10px;
            max-width: 355px;
            display: block;
            border-radius: 2px;
            border: 0.8px solid #D9D9D9;
            background: $main_1;
        }

        button {
            max-width: 355px;
            display: block;
            @include btn;

        }

        @media(max-width:640px) {
            display: flex;
            justify-content: center;
        }
    }

    @media(max-width:980px) {
        display: block;
    }

    @media(max-width:768px) {
        padding-top: 50px;
        padding-bottom: 50px;
        margin-bottom: 70px;
    }
}

.section_3_wraper {
    background: url(./img/background_section3.png) 0px 0px no-repeat;
}

.section_3 {
    .wraper_section_3_main_content {
        padding-top: 90px;
        margin-bottom: 50px;
        display: flex;

        @media(max-width:1040px) {
            flex-direction: column;
            align-items: center;
        }
    }

    .section_3_left {
        h2 {
            white-space: nowrap;
            font-size: $typography_5;
            color: $main_color;
            margin-bottom: 20px;

            @media(max-width:768px) {
                font-size: $typography_5_mobile;
            }
        }

        &>p {
            font-family: 'Raleway', sans-serif;
            font-size: $typography_4;
            max-width: 570px;
            margin-bottom: 15px;
            line-height: $line-height_1;

            @media(max-width:768px) {
                font-size: $typography_4_mobile;
            }
        }

        .show_product {
            // background: url(./img/show_product.png) 100% 100% no-repeat;
            background: inherit;
            padding: 25px;
            width: 100%;
            box-shadow: 0px 28px 104px 0px rgba(41, 41, 41, 0.15);
            margin-bottom: 30px;
            cursor: pointer;
            transition: 1s;

            &:hover {
                transform: scale(1.05);
            }

            h3 {
                font-size: $typography_3;
                font-weight: $font-weight7;
                margin-bottom: 10px;

                @media(max-width:768px) {
                    font-size: $typography_5_mobile;
                }
            }

            h4 {
                color: $main_color;
                font-weight: $font-weight6;

                @media(max-width:768px) {
                    font-size: $typography_4_mobile;
                }

                &::after {
                    content: '\203a';
                    margin-left: 6px;
                }
            }
        }

        .check_product {
            @extend .show_product;
            // background: url(./img/check_product.png) 100% no-repeat;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;

            img {
                position: absolute;
                right: 0;
                top: 0;
                width: 100px;

                @media(max-width:460px) {
                    display: none;
                }
            }
        }
    }

    .section_3_right {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        max-width: 1087px;
        margin-left: 60px;

        @media(max-width:1040px) {
            margin-left: 0px;
            justify-content: center;
        }

        .section_3_card {
            width: 170px;
            height: 170px;
            border-radius: 4px;
            background: $main_1;
            padding-top: 25px;
            cursor: pointer;

            img {
                display: block;
                margin: 0 auto;
                margin-bottom: 20px;
                transition: 0.5s;

                @media(max-width:460px) {
                    width: 40px;
                }

                &:hover {
                    transform: scale(1.2);
                }
            }

            p {
                text-align: center;
                line-height: $line-height_1;

                @media(max-width:460px) {
                    font-size: $typography_1_mobile;
                }
            }

            @media(max-width:460px) {
                width: 130px;
                height: 130px;
            }
        }
    }
}

.section_4_wraper {
    background: url(./img/background_section4.png) left 0px bottom 0px/ cover no-repeat;

    @media(max-width:768px) {
        background: none;
    }
}

.section_4 {
    padding-bottom: 300px;
    padding-top: 200px;

    h2 {
        margin-bottom: 30px;
        color: $main_1;
        font-weight: $font-weight6;
        font-size: $typography_5;

        @media(max-width:768px) {
            font-size: $typography_5_mobile;
            color: $main_2;
            text-align: center;
        }
    }

    .section_4_top {
        margin-bottom: 60px;

        button {
            color: $main_1;
            background: inherit;
            border: none;
            cursor: pointer;
            transition: 0.6s;
            padding: 13px 25px;
            margin-right: 12px;
            font-weight: $font-weight6;

            @media(max-width:768px) {
                padding: 13px 15px;
                color: rgba(138, 142, 133, 1);
            }

            &:hover {
                color: $main_hover;
            }
        }

        .active_btn {
            @include btn;
            font-size: $main;
            padding: 13px 25px;

            &:hover {
                color: $main_1;
            }

            @media(max-width:768px) {
                padding: 13px 15px;
            }
        }

        .box_btn_section4 {
            @media(max-width:768px) {
                display: flex;
                justify-content: center;
            }
        }
    }

    .section_4_bottom {
        display: flex;
        overflow-y: hidden;
        border-radius: 4px;

        .section_4_card {
            width: 100%;
            width: 355px;
            border-radius: 4px;
            box-shadow: 0px 28px 104px 0px rgba(41, 41, 41, 0.15);
            cursor: pointer;
            transition: 0.7s;
            filter: opacity(0.8);
            padding: 20px;
            background: $main_1;
            margin-right: 10px;

            @media(max-width:950px) {
                width: 260px;
            }

            &:hover {
                filter: opacity(1);
            }
        }

        .box_img {
            width: 320px;
            height: 220px;
            margin-bottom: 15px;
            overflow: hidden;

            @media(max-width:950px) {
                width: 220px;
                height: auto;
            }
        }

        img {
            height: auto;
            width: 100%;
        }

        h3 {
            font-size: $typography_2;
            color: $main_2;
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 10px;
            line-height: $line-height_1;
        }

        a {
            color: $main_color;
            font-weight: $font-weight7;
            text-decoration: none;
            margin-left: 10px;
        }

        @media(max-width:768px) {
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            overflow: visible;
        }

    }

    @media(max-width:768px) {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}