@import './reset.scss';
@import './fonts.scss';
@import './variable.scss';
@import './typography.scss';
@import './mixin/button_mixin.scss';
@import '../App/App.scss';
@import '../section/header.scss';
@import '../pages/mainPage.scss';
@import '../components/formAnswerQuestions.scss';
@import '../components/productCategories.scss';
@import '../components/advertisingPromotions.scss';
@import '../section/footer.scss';

html {
    height: 100%;
    background: $main_6;
    overflow: hidden;
    overflow-y: scroll;
}

body {
    font-size: $main;
    font-weight: $font-weight4;
    color: $main_4;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}