$h1: 60px;
$main: 14px;
$typography_1: 16px;
$typography_2: 18px;
$typography_3: 20px;
$typography_4: 24px;
$typography_5: 35px;

//==================================================
$font-weight1: 100;
$font-weight2: 200;
$font-weight3: 300;
$font-weight4: 400;
$font-weight5: 500;
$font-weight6: 600;
$font-weight7: 700;

//==================================================
$line-height_1: 1.5;